.section-header {
    margin: auto;
}

.section-header h2 + p {
    margin-bottom: var(--gutter-medium);
}

@media(max-width: 767px) {
    .section-header h2 + p {
        margin-bottom: var(--gutter-medium-mobile);
    }
}