.link-container {
    max-width: 980px;
    text-align: center;
    margin: var(--gutter-huge) auto 0;
    padding-top: var(--gutter-large);
}

.link {
    display: inline-flex;
    align-items: center;
}


@media(max-width: 767px) {
    .link-container {
        margin: var(--gutter-large) auto 0;
        padding-top: var(--gutter-large-mobile);
    }
}