.section {
    display: flex;
    flex-direction: column;
    max-width: 640px;
    margin: var(--gutter-huge) auto;
}

.header {
    position: relative;
    max-width: 500px;
    margin: 0 auto var(--gutter-medium);
}

.pattern  {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.title {
    margin: 0 auto;
    padding: 10px 40px;
}

@media(max-width: 480px) {
    .section {
        text-align: center;
    }

    .header {
        margin: 0;
    }

    .header svg {
        display: none;
    }

    .title {
        padding: 0;
        margin: 0 0 var(--gutter-medium);
    }
}
