.section {
    text-align: center;
    margin-top: -30px;
}

.section-header h2 + p {
    margin: var(--gutter-medium);
}

.sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto var(--gutter-small);
    overflow: hidden;
}

.footnote {
    margin-bottom: var(--gutter-medium);
}

.btn {
    margin-bottom: var(--gutter-medium);
}

@media(max-width: 950px) {
    .sponsors {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 0px;
    }
}

@media(max-width: 767px) {
    .sponsors {
        margin: var(--gutter-large-mobile) auto;
    }

    .footnote {
        margin-bottom: var(--gutter-medium-mobile);
    }
}

@media(max-width: 580px) {
    .sponsors {
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsors-title {
        height: 130px;
        padding: 0 100px 10px;
    }
}

