.github {
    margin-left: 15px;
}

.btn-wrapper {
    text-align: center;
}

.btn-wrapper > * {
    display: inline-flex;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: var(--space-32x);
}