.section {
    text-align: center;
}

.sponsors-title {
    background: url('/patterns/quadrant-top.png');
    background-repeat: no-repeat;
    display: inline flex;
    height: 180px;
    align-items: flex-end;
    padding: 0 130px 10px;
    background-size: contain;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 40px;
    align-items: center;
    max-width: 1000px;
    margin: var(--space-16x) auto;
    overflow: hidden;
}

.footnote a {
    margin-top: var(--gutter-small);
}

@media(max-width: 950px) {
    .sponsors {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px 0px;
    }
}

@media(max-width: 580px) {
    .sponsors {
        grid-template-columns: repeat(2, 1fr);
    }

    .sponsors-title {
        height: 130px;
        padding: 0 100px 10px;
    }
}

@media(max-width: 460px) {
    .sponsors-title {
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 340px) {
    .sponsors {
        grid-template-columns: repeat(1, 1fr);
    }
}