.logo {
    max-width: 220px;
}

@media(max-width: 950px) {
    .logo {
        max-width: 180px;
        max-height: 50px;
    }
}

@media(max-width: 580px) {
    .logo {
        max-width: 140px;
        max-height: 40px;
    }
}