.wrapper {
    text-align: center;
}

.wrapper h2 {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.authenticate {
    display: inline-block;
    margin-top: var(--gutter-small);
}