.wrapper {
    text-align: center;
}

.wrapper h1 {
    color: var(--brand);
}

.wrapper p {
    margin-bottom: var(--gutter-normal);
}

@media(max-width: 768px) {
    .wrapper p {
        margin-bottom: var(--gutter-small);
    }
}