.section {
    padding-top: 0;
    max-width: 720px;
    margin: auto;
    text-align: center;
}

.section p {
    margin: var(--gutter-medium) 0;
}

.link {
    display: inline-flex;
    align-items: center;
}

.link img {
    height: 48px;
}

@media(max-width: 767px) {
    .section p {
        margin: var(--gutter-medium-mobile) 0;
    }
}