.section {
    padding-top: 0;
    margin: auto;
    text-align: center;
}

.section p {
    margin: var(--gutter-medium) auto;
    max-width: 720px;
}

.link {
    display: inline-flex;
    align-items: center;
}

.link img {
    height: 48px;
}

.channels {
    margin-top: var(--gutter-huge);
}

.channel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: var(--gutter-medium) 0;
}

.channel-container > * {
    margin-left: auto;
    margin-right: auto;
}

.follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--gutter-huge);
}

.follow h2 {
    margin-bottom: var(--gutter-small);
}

.channel-container > *:not(:last-child) {
    margin-bottom: var(--gutter-medium);
}

@media(max-width: 767px) {
    .section p {
        margin: var(--gutter-medium-mobile) 0;
    }

    .channels {
        margin-top: var(--gutter-large);
    }

    .channel-container {
        margin: var(--gutter-medium-mobile) 0;
    }

    .channel-container > *:not(:last-child) {
        margin-bottom: var(--gutter-large-mobile);
    }

    .follow {
        margin-top: var(--gutter-large);
    }
    
    .follow h2 {
        margin-bottom: var(--gutter-small-mobile);
    }
}