.section {
    padding-top: 0;
}

.section h1 {
    text-align: center;
}

.content {
    margin-top: var(--gutter-huge);
}

.content p {
    margin: var(--gutter-large) 0;
}

.topics h2 {
    text-align: center;
}