@font-face {
    font-family: 'ABCDiatype';
    font-style: normal;
    font-weight: 400;
    src: url('/font/ABCDiatype-Regular.woff') format('woff');
}

@font-face {
    font-family: 'ABCDiatype';
    font-style: bold;
    font-weight: 600;
    src: url('/font/ABCDiatype-Bold.woff') format('woff');
}

/* @font-face {
    font-family: 'ABCDiatype';
    font-style: italic;
    font-weight: 400;
    src: url('/font/ABCDiatype-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'ABCDiatype';
    font-style: italic;
    font-weight: 600;
    src: url('/font/ABCDiatype-BoldItalic.woff') format('woff');
} */


